apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: "/mnt/postgres-data"  # mapeado no kind para D:/DEV/kubernetes/PVC

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---

apiVersion: v1
kind: Secret
metadata:
  name: segredos-kubenews
type: Opaque
data:
  DB_PASSWORD: a3ViZXBhc3N3b3Jk
  POSTGRES_PASSWORD: a3ViZXBhc3N3b3Jk

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: app-variaveis-ambiente-kubenews
data:
  DB_DATABASE: "kube_news"
  DB_USERNAME: "kubeuser"
  DB_HOST: "postgresql"  # Nome do serviço PostgreSQL

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: app-variaveis-ambiente-kube-news-postgres
data:
  POSTGRES_DB: "kube_news"
  POSTGRES_USER: "kubeuser"

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql  
spec:
  selector:
    matchLabels:
      app: postgresql  
  template:
    metadata:
      labels:
        app: postgresql 
    spec:
      containers:
        - name: postgresql  # Nome do container
          image: postgres:15
          ports:
            - containerPort: 5432  
          envFrom:
          - configMapRef:
              name: app-variaveis-ambiente-kube-news-postgres
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: segredos-kubenews
                  key: POSTGRES_PASSWORD      
          volumeMounts: 
            - name: dados-postgres
              mountPath: /var/lib/postgresql/data
      volumes:                        # ✅ no mesmo nível de "containers"
        - name: dados-postgres
          persistentVolumeClaim:
            claimName: postgres-pvc
---

# Service para expor o PostgreSQL internamente no cluster

apiVersion: v1
kind: Service
metadata:
  name: postgresql  # Nome do service
spec:
  selector:
    app: postgresql  # Seleciona pods com
  ports:
    - port: 5432  # Porta exposta pelo service
      targetPort: 5432  # Porta do container

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubenews
spec:
  replicas: 10
  selector:
    matchLabels:
      app: kubenews
  template:
    metadata:
      labels:
        app: kubenews
    spec:
      initContainers:
        - name: wait-for-postgres
          image: postgres:15
          command: ["sh", "-c", "until pg_isready -h $DB_HOST -p 5432; do echo esperando o banco...; sleep 2; done"]
          envFrom:
            - configMapRef:
                name: app-variaveis-ambiente-kubenews    
      containers:
      - name: kubenews
        image: oalexandrino/k8s-kube-news:v1
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: app-variaveis-ambiente-kubenews
        env:
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: segredos-kubenews
                key: DB_PASSWORD            

---

apiVersion: v1
kind: Service
metadata:
  name: kubenews
spec:
  selector:
    app: kubenews
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30000
  type: NodePort
